
#simonTable {
	text-align: center;
	position: relative;
}

.gameButton {
	opacity:.5;
}

.gameButton:hover {
	opacity: .7;
}
.gameButton:active {
	opacity: 1;
}

.noDisplay {
	display:none;
}

.activeClass {
	opacity: 1;
}

#powerSwitch {
}

.onOff {
	transform:translate(253px, 311px);
}

.hard {
	transform:translate(310px, 218px);
}
#easyHardSwitch {
	position: absolute;
}